<!DOCTYPE html>
<html>
<head>
  <title>Add Category</title>
  <!-- Link to Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
    integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
  
  <style>
    /* Add custom CSS here if needed */
    /* Example: Change background color of the form */
    body {
      background-color: #f0f0f0;
    }
    .form-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }  
     background-color {
      color: #707070;
    }

    .sidebar {
      height: 100%;
      width: 150px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: #000000;
      padding-top: 20px;
      padding-left: 20px;
    }

    .sidebar a {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      font-size: 18px;
      color: #fff;
      display: block;
    }

    .sidebar a:hover {
      background-color: #333;
    }

    .content {
      margin-left: 250px;
      padding: 20px;
    }

    .navbar {
      background-color: #000000 !important;
    }

    .navbar-brand {
      color: #fff !important;
      font-size: 24px;
    }

    .navbar-toggler {
      border-color: #fff !important;
    }

    .navbar-toggler-icon {
      background-image: url('https://cdn3.iconfinder.com/data/icons/mini-icon-set-web-design-device-app/91/Web_-_UI-18-512.png');
    }

    .navbar-nav .nav-item .nav-link {
      color: #fff !important;
    }

    .navbar-nav .nav-item .nav-link:hover {
      color: #888 !important;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/admin"><img src="/shop/img/ll.png"></a>
    <h1>Product Management</h1>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="categories">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users">Users</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="products">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  </style>
</head>
<body>
  <div class="container mt-5">
    <div class="form-container">
      <h3 class="text-center mb-4">Add Category</h3>
      <form id="categoryForm" method="POST" action="addcategories">
        <div class="form-group">
          <label for="categoryName">Category Name<span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="categoryName" name="CategoryName" required>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" name="CategoryDescription"></textarea>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="isListed" name="isListed" checked>
          <label class="form-check-label" for="isListed">Listed</label>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="offerApplied" name="offerApplied">
          <label class="form-check-label" for="offerApplied">Offer Applied</label>
        </div>
        <button type="submit" id="click" class="btn btn-primary mt-3">Add Category</button>
      </form>
    </div>
  </div>

  <!-- Link to Bootstrap JS and jQuery -->


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
