<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cyborg || SignIn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <style>
        body {
            /* background-image: url('/shop/img/authformbg.jpg'); */
            font-family: 'DotGothic16', sans-serif;
            background-color: #393939;
            color: #5a5a5a;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .login-container {
            background-color: #111;
            padding: 50px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            width: 400px;
            opacity: .8;
        }

        .login-container h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            align-self: right;
            width: 100%;
            padding: 8px;
            border: 1px solid #444;
            border-radius: 4px;
            background-color: #222;
            color: #fff;
        }

        .form-group input:focus {
            outline: none;
            border-color: #888;
        }

        .form-group input::placeholder {
            color: #888;
        }

        .form-group button {
            width: 100%;
            padding: 10px;
            background-color: #ccba8a;
            border: none;
            border-radius: 4px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .form-group button:hover {
            background-color: #E6970D;
        }

        .signup-section {
            text-align: center;
            margin-top: 20px;
        }

        .signup-link {
            color: #ffffff;
            font-weight: bold;
            text-decoration: none;
            background-color: #8a8a8a;
            padding: 8px 20px;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .signup-link:hover {
            background-color: #E6970D;
            color: #000000;
        }

        .navbar {
            background-color: #000;
        }

        .navbar-brand img {
            max-height: 50px;
            padding: 5px;
        }

    </style>
</head>

<body>

   
    <div class="login-container">
        <a class="navbar-brand" href="/">
            <h1 style="padding-left: 95px; color:#ffd000;">Cyborg<br>Gaming</h1>
    </a>
        <h2>Admin Panel</h2>
        <form action="login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="email" placeholder="Enter your username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>               
           </div>
         

        </div>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>
