<footer class="footer text-white py-4">
    <div class="container" style="font-family: 'DotGothic16', sans-serif;">

        <div class="row">
            <div class="col-md-6">

                <h3>Cyborg Gaming</h3>
                <p>At Cyborg Gaming, we are dedicated to providing you with the most cutting-edge prebuilt gaming PCs and immersive gaming experiences. Our mission is simple: to fuel your passion for gaming by offering top-notch hardware and the latest games at your fingertips.</p>
            </div>
            <div class="col-md-3">
                <h3>Quick Links</h3>
                <ul class="list-unstyled quick-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Contact Info</h3>
                <address>
                    <p><i class="fa fa-map-marker"></i>404 WallStreet, NYC, Manhattan</p>
                    <p><i class="fa fa-envelope"></i> support </p>
                    <p><i class="fa fa-phone"></i> +1 653 4823</p>
                </address>
            </div>
        </div>

        <section class="mb-4 text-center">
            
            <a class="btn btn-outline-warning btn-floating m-1" href="#" role="button"><i class="fab fa-facebook-f"></i></a>
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a class="btn btn-outline-warning btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>

    </div>

    <section class="text-center">
        <form action="/signup" method="get">
            <p class="d-flex justify-content-center align-items-center">
                <span style="font-family: 'DotGothic16', sans-serif;">Register for free--<br></span>
                <button type="submit" class="btn btn-outline-warning btn-rounded">
                    Sign up!
                </button>
            </p>
        </form>
    </section>
</footer>
