<html>
    <head>

    </head>
    <body>
        
    <h2>Order History:</h2>
    <table class="table table-dark table-striped">
        <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Total Amount</th>
            <th>Status</th>
        </tr>

    </table>
    </body>
</html>